<h1>Weatherapp</h1>
<p>Fill in a zipcode and submit to retrieve a forecast.</p>
<p>Made by Ryan Liu</p>
<p>PM Accelerator</p>
<p>Description: The Product Manager Accelerator Program is designed to support PM professionals through every stage of their careers. From students looking for entry-level jobs to Directors looking to take on a leadership role, our program has helped over hundreds of students fulfill their career aspirations.
</p>
<%= form_with url: navigate_path, method: :post do %>
  <div class="mb-3">
    <%= label_tag :zipcode, "Enter A Zipcode:" %>
    <%= text_field_tag :zipcode %>
  </div>
  <%= submit_tag "Submit ZIP", class: "btn btn-primary" %>
<% end %>
